#grid-container {
    width: 720px;
    aspect-ratio: 1/1;
    border-style: solid;
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex: 1 1 auto;
}

.cell {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    flex: 1 1 auto;
}

.highlighted-cell {
    background-color: yellow;
}
